@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/* Master styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Karla", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
}

/* header attributes */
.site-header {
    position: relative;
    margin-bottom: 50px;
    margin-left: 90px;
    margin-right: 90px;
    border-bottom: 1px solid #292c34;
}

.header-content > h2 {
    margin-bottom: 5px;
}

.header-content {
    text-align: center;
    color: #292c34;
    padding: 50px;
    animation-delay: 1.75s;
    animation: fadeIn 1s ease;
}

.header-content > * {
    margin-bottom: 20px;
}

.header-content > p {
    line-height: 20px;
    padding-left: 600px;
    padding-right: 600px;
    font-weight: 550;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -10%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.link-button {
    height: 30px;
    margin: 10px;
}

.site-links {
    display: inline;
}

/* removes random underline under img links */
.site-links > a {
    text-decoration: none;
}

.avatar-circle {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 100%;
    border: 4px solid #292c34;
    box-shadow: 0 0 1px 11px rgb(41, 44, 52 / 15%), 0 0 1px 22px rgb(41, 44, 52 / 10%);
}

.avatar-circle .avatar {
    width: auto;
    height: 100%;
    margin-left: -20px;
    display: inline-block
}

/* Project attributes */
.project-timeline {
    color:#292c34;
    margin-left: 320px;
    margin-right: 320px;
    padding: 30px;
    display: block;
}

.project-section-title {
    font-size: 40px;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

.project-wrapper {
    display: flex;
}

.project-timeline-date {

}

.project-details > * {
    margin-bottom: 10px;
}


.project-description {
    margin-top: 30px;
    margin-left: 20px;
}

.ul li::marker {
    font-size: large;
    fill: black;
}
